<ng-container *ngIf="controller.type!='camera'">
  <ng-container  *ngFor="let component of controller.inputs">
    <ng-container *ngIf="component.visible">
      <ng-container [ngSwitch]="component.type">
        <ng-template ngSwitchCase="number-value">
          <dynamic-value [dashboardSection]="dashboardSection" [value]="component"></dynamic-value>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container  *ngFor="let component of controller.actions">
    <ng-container *ngIf="component.visible">
      <ng-container [ngSwitch]="component.type">
        <ng-template ngSwitchCase="number-value">
          <kervi-action [dashboardSection]="dashboardSection" [action]="component" ></kervi-action>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="controller.type=='camera'">
    <kervi-cam-viewer [isBackground]="false" [cameraId]="controller.id" [parameters]="parameters"></kervi-cam-viewer>
</ng-container>
