<nav class="navbar navbar-fixed-to navbar-light bg-faded">
	<ul class="nav navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggl" data-toggle="dropdown"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
			<div class="dropdown-menu  multi-leve ul.nav.navbar-nav.no-collapse">
					<span class="dropdown-divider">&nbsp; Dashboards</span>
					<div class="dropdown-submenu">
							<a *ngFor="let dashboard of (dashboards$ | async)" class="dropdown-item" [routerLink]="['/'+dashboard.type, dashboard.id]">{{dashboard.name}}</a>
					</div>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#/charts">Charts</a>
				<a class="dropdown-item" href="#/about">About</a>
				<a class="dropdown-item" href="#/settings">Settings</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="btn btn-default" (click)="toggleControllers()"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></a>
		</li>
		<li class="nav-item core-sensors">
			<core-sensors></core-sensors>
		</li>
	</ul>
</nav>