.core-sensors{
    float:right;
}

nav {
    background:rgba(0,0,0,.3);
    z-index:1500;
    width:100%;
    padding:0rem 1rem;
}

a.nav-link{
    color:rgba(255,255,255,1) !important;
}

.dropdown-menu a.nav-link{
    color:rgba(0,0,0,1) !important;
}

.btn{
    padding:0
}