<div class="img-viewer {{imgViewerClass}}">
    <div class="img-viewer-panel">
      <div class="img-viewer-panel-header">
        <div nz-row>
          <div nz-col nzSpan="3">
              <i nz-icon (click)="closeImageViewer()" nzType="rollback" nzTheme="outline"></i>
          </div>
        <div nz-col nzSpan="21">
          <div *ngIf="showOperate" class="img-viewer-panel-header-operation">
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.zoomInToolTip" *ngIf="zoom" (click)="zoomInImg()"><i nz-icon nzType="zoom-in"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.zoomOutToolTip" *ngIf="zoom" (click)="zoomOutImg()"><i nz-icon nzType="zoom-out"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.rotateLeftToolTip" *ngIf="rotate" (click)="rotateImg(false)"><i nz-icon nzType="undo"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.rotateRightToolTip" *ngIf="rotate" (click)="rotateImg(true)"><i nz-icon nzType="redo"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.resetToolTip" *ngIf="reset" (click)="showImg()"><i nz-icon nzType="sync"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.fullScreenToolTip" *ngIf="fullscreen" (click)="fullscreenImg()"><i nz-icon nzType="fullscreen"></i></span>
            <span nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="imageViewerType.downloadToolTip" *ngIf="download" (click)="downloadImg()"><i nz-icon nzType="download"></i></span>
          </div>
      </div>
      </div>
      </div>
      <div class="img-viewer-panel-body" [class.img-viewer-panel-body-has-footer]="images.length > 1">
        <div class="img-viewer-panel-body-content">
  
        </div>
        <span *ngIf="imgTotal > 1" class="img-viewer-panel-body-prev" (click)="prevImg()"><i nz-icon nzType="left"></i></span>
        <span *ngIf="imgTotal > 1" class="img-viewer-panel-body-next" (click)="nextImg()"><i nz-icon nzType="right"></i></span>
      </div>
      <div *ngIf="imgTotal > 1" class="img-viewer-panel-footer">
      {{currentImgIndex}} / {{imgTotal}}
      </div>
    </div>
  </div>