<div [ngSwitch]="component.type">
    <template ngSwitchCase="number-input">
        <kervi-controller-number-input [dashboardType]="'dashboard'" [input]="component"></kervi-controller-number-input>
    </template>
    <template ngSwitchCase="text-input">
        <kervi-controller-text-input [dashboardType]="'dashboard'" [input]="component"></kervi-controller-text-input>
    </template>
    <template ngSwitchCase="button">
        <kervi-controller-button [dashboardType]="'dashboard'" [button]="component"></kervi-controller-button>
    </template>
    <template ngSwitchCase="switchButton">
        <kervi-controller-switchbutton [dashboardType]="'dashboard'" [button]="component"></kervi-controller-switchbutton>
    </template>
    <template ngSwitchCase="select">
        <kervi-controller-select [dashboardType]="'dashboard'" [button]="component"></kervi-controller-select>
    </template>
    <template ngSwitchCase="datetime">
        <kervi-controller-datetime [dashboardType]="'dashboard'" [datetime]="component"></kervi-controller-datetime>
    </template>
</div>