<div *ngIf="controller.template">
  <controller-layout [controller]="controller"></controller-layout>
</div>

<div *ngIf="!controller.template">
	<div [ngSwitch]="controller.id">
		<template ngSwitchWhen="manualSteeringx">
			fsdf
		</template>
		<template ngSwitchDefault>
			<div *ngFor="let component of controller.components">
				<div [ngSwitch]="component.type">
					<template ngSwitchCase="number-input">
						<kervi-controller-number-input [dashboardType]="dashboardType" [input]="component"></kervi-controller-number-input>
					</template>
          <template ngSwitchCase="text-input">
						<kervi-controller-text-input [dashboardType]="dashboardType" [input]="component"></kervi-controller-text-input>
					</template>
          <template ngSwitchCase="button">
						<kervi-controller-button [dashboardType]="dashboardType" [button]="component"></kervi-controller-button>
					</template>
					<template ngSwitchCase="switchButton">
						<kervi-controller-switchbutton [dashboardType]="dashboardType" [button]="component"></kervi-controller-switchbutton>
					</template>
          <template ngSwitchCase="select">
						<kervi-controller-select [dashboardType]="dashboardType" [select]="component"></kervi-controller-select>
					</template>
          <template ngSwitchCase="datetime">
						<kervi-controller-datetime [dashboardType]="dashboardType" [datetime]="component"></kervi-controller-datetime>
					</template>
				</div>
			</div>


		</template>

	</div>
</div>