<div *ngIf="section=='left'">
  <div [ngSwitch]="controller.id">
		<template ngSwitchWhen="manualSteeringx">
			fsdf
		</template>
		<template ngSwitchDefault>
			<div *ngFor="let axis of controller.axes">
        <kervi-controller-axis [dashboardType]="dashboardType" *ngIf="axis.orientation=='vertical' " [axis]="axis"></kervi-controller-axis>
			</div>
			<div *ngFor="let axis of controller.axes">
				<kervi-controller-axis [dashboardType]="dashboardType" *ngIf="axis.orientation=='horizontal' " [axis]="axis" ></kervi-controller-axis>
			</div>
		</template>
	 
	 </div>
</div>
<div *ngIf="section=='right'" >
</div>