<ng-container *ngIf="sensor.subSensors.length == 0">
	<dynamic-value-number *ngIf="sensor.valueType == 'number'" [inline]="inline" [input]="sensor.value" [parameters]="parameters" [dashboardSection]="dashboardSection"></dynamic-value-number>
	<dynamic-value-color *ngIf="sensor.valueType == 'color'" [inline]="inline" [value]="sensor.value" [parameters]="parameters" [dashboardSection]="dashboardSection"></dynamic-value-color>	
</ng-container>
<ng-container *ngIf="sensor.subSensors.length > 0">
	<div >
		<div>
			<i *ngIf="parameters.labelIcon" class="fa fa-{{currentIcon}}"></i>
			<span *ngIf="parameters.label">{{parameters.label}}:</span>
		</div>
		<ng-container *ngFor="let subSensor of sensor.subSensors">
			<div style="padding-left:15px;clear:both">
				<kervi-sensor [inline]="lnline" [sensor]="subSensor" ></kervi-sensor>
			</div>
		</ng-container>
	</div>
</ng-container>