<div style="width:100%;height:100%">
    <div class="row" *ngIf="parameters.chartButtons || parameters.label">
        <div class="col-sm-6" *ngIf="parameters.label">
            {{parameters.label}}
        </div>
        <div class="col-sm-6 text-right" *ngIf="parameters.chartButtons=='top'">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true" (click) = "movePeriod(-1)"></i></button>
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right" aria-hidden="true" (click) = "movePeriod(1)"></i></button>
                <button type="button" class="btn btn-primary btn-sm" title="live" (click) = "goLive()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedPeriodText}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item" href="#" (click)="selectPeriod('5min')" >5 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('15min')" >15 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('30min')" >30 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('hour')" >Hour</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('day')">Day</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('week')">Week</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('month')">Month</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('hour')">Year</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" style="">
        <canvas id="{{canvasId}}" class="sensor-canvas"></canvas>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right" *ngIf="parameters.chartButtons && parameters.chartButtons!='top'">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true" (click) = "movePeriod(-1)"></i></button>
                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right" aria-hidden="true" (click) = "movePeriod(1)"></i></button>
                <button type="button" class="btn btn-primary btn-sm" title="live" (click) = "goLive()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedPeriodText}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item" href="#" (click)="selectPeriod('5min')" >5 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('15min')" >15 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('30min')" >30 min</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('hour')" >Hour</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('day')">Day</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('week')">Week</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('month')">Month</span>
                        <span class="dropdown-item" href="#" (click)="selectPeriod('hour')">Year</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>