<div id="slide-panel-controllers">
	<a  class="btn btn-danger ctrl-opener" role="button" ng-click="toggleControllers($event)" id="opener"><i class="glyphicon glyphicon-align-justify"></i></a>
	<ul class="ctrl-tab nav nav-tabs ctrl-tabs">
		<li>
			<a  class="dropdown-toggle" data-toggle="dropdown" data-toggle="tab" role="button" aria-haspopup="true" aria-expanded="false" >
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu multi-level">
				<li  ng-repeat="controllerType in ctrl.kerviControllerTypes">
					<!--<a  class="dropdown-toggle" data-toggle="dropdown" data-toggle="tab" role="button" aria-haspopup="true" aria-expanded="false" >
					{{controllerType}} <span class="caret"></span>
					</a>-->
					<b>{{controllerType.capitalizeFirstLetter()}}</b>
					<ul class="dropdown-submenu">
						<li ng-repeat="controller in ctrl.kerviControllers[controllerType]">
							<a showtab="" data-toggle="tab" data-ctrltype="{{controllerType}}"  data-ctrlid="{{controller.id}}" href="#ctrl-{{controllerType}}-{{controller.id}}" >{{controller.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
		<b id="current-ctrl-name">{{ctrl.currentTitle}}</b>
		</li>
	</ul>
	<div class="tab-content content-ctrl-left" >
			<div role="tabpanel" ng-repeat="tabId in ctrl.tabId" class="tab-pane {{tabId==ctrl.currentTabId && 'active' || '' }}" id="{{tabId}}">
				<kervi-controller-directive boardtype="camboard" ctrllocation="'left'" kervictrl="ctrl.getController(tabId)"></kervi-controller-directive>
			</div>
	</div>
</div>

<div id="slide-panel-controllers-right">
	<div class="tab-header">{{ctrl.currentTitle}}</div>
	<div class="tab-content content-ctrl-right">
		<div role="tabpanel" ng-repeat="tabId in ctrl.tabId" class="tab-pane {{tabId==ctrl.currentTabId && 'active' || '' }}" id="{{tabId}}_right">
				<kervi-controller-directive boardtype="camboard" ctrllocation="'right'" kervictrl="ctrl.getController(tabId)"></kervi-controller-directive>
		</div>
	</div>
</div>