		<ul class="ctrl-tab nav nav-tabs ctrl-tabs">
			<li>
				<a  class="dropdown-toggle" data-toggle="dropdown" data-toggle="tab" role="button" aria-haspopup="true" aria-expanded="false" >
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu multi-level">
					<li  ng-repeat="controllerType in ctrl.kerviControllerTypes">
						<!--<a  class="dropdown-toggle" data-toggle="dropdown" data-toggle="tab" role="button" aria-haspopup="true" aria-expanded="false" >
						{{controllerType}} <span class="caret"></span>
						</a>-->
						<b>{{controllerType.capitalizeFirstLetter()}}</b>
						<ul class="dropdown-submenu">
							<li ng-repeat="controller in ctrl.kerviControllers[controllerType]">
								<a showtab="" data-toggle="tab" data-ctrltype="{{controllerType}}"  data-ctrlid="{{controller.id}}" href="#ctrl-{{controllerType}}-{{controller.id}}" >{{controller.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
			<b id="current-ctrl-name">{{ctrl.currentTitle}}</b>
			</li>
		</ul>
		
		<div class="tab-content" >
				<div role="tabpanel" ng-repeat="tabId in ctrl.tabId" class="tab-pane {{tabId==ctrl.currentTabId && 'active' || '' }}" id="{{tabId}}">
					<kervi-controller-directive boardtype="dashboard" ctrllocation="'left'" roboctrl="ctrl.getController(tabId)"></kervi-controller-directive>
					<kervi-controller-directive boardtype="dashboard" ctrllocation="'right'" roboctrl="ctrl.getController(tabId)"></kervi-controller-directive>
				</div>
		</div>
	
