<nav class="navbar  navbar-fixed-top" role="navigation">
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar " ng-include='"templates/AppDashboardSelector.html"'></ul>
            <ul class="nav navbar-nav avbar">
			    <li>
                    <sensors-directive ver="CamBoard"></sensors-directive>
                </li>
            </ul>
            <ul class="nav navbar-nav avbar pull-right">
			
                <li>
			        <heartbeat-directive></heartbeat-directive>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    
</nav>