<a class="dropdown-toggle" data-toggle="dropdown">
        <b>{{currentLocation}}</b>        
    </span>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
    <li ng-repeat="(boardType,boardLocations) in locations">
        {{boardType}}
        <li ng-repeat="(boardLocation in boardLocations">
            <a href="#/{{boardType}}/{{boardLocation}}">{{boardLocation.name}}</a>
        </li>    
    </li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/settings">Settings</a></li>
</ul>