 <span ng-repeat="(sensorType,sensorTypeSensors) in ctrl.sensors"> 
	<span ng-if="sensors[sensorTypeSensor].length > 1">
		<span>
		<a class="dropdown-toggle" data-toggle="dropdown">
			<span class="sensor-value">
				<b>{{ctrl.sensors[sensorType][0].name}}:</b>
				<sparkline-directive sensor-id="{{ctrl.sensors[sensorType][0].id}}" data="{{ctrl.sensors[sensorType][0].sparkline}}"></sparkline-directive>
				{{ctrl.sensors[sensorType][0].value}} {{ctrl.sensors[sensorType][0].unit}}
			</span>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<span ng-repeat="sensor in ctrl.sensors[sensorType]" ng-if="$index > 0">
				<li>
					<span class="sensor-value"><b>{{sensor.name}}:</b>
						<sparkline-directive sensorId="{{sensor.id}}" data="{{sensor.sparkline}}"></sparkline-directive> {{sensor.value}} {{sensor.unit}}
					</span>
				</li>
			</span>	
		</ul>
		</span>
	</span>
	
	<span ng-if="ctrl.sensors[sensorType].length == 1">
		<span ng-repeat="sensor in ctrl.sensors[sensorType]" class="sensor-value">
			<b>{{ctrl.sensors[sensorType][0].name}}:</b>
			<sparkline-directive sensorId="{{sensor.id}}" data="{{sensor.sparkline}}"></sparkline-directive> {{sensor.value}} {{sensor.unit}}
		</span>
	</span>
 </span>

<div class="modal fade" id="sensorChartModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" style="position:relative">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title"></h2>
				<div>
					<ul class="ctrl-tab nav nav-tabs ctrl-tabs">
						<li>
							<a  class="dropdown-toggle" data-toggle="dropdown" data-toggle="tab" role="button" aria-haspopup="true" aria-expanded="false" >
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu multi-level">
								<li  ng-repeat="sensorType in ctrl.sensorTypes">
									<b>{{sensorType.capitalizeFirstLetter()}}</b>
									<ul class="dropdown-submenu">
										<li ng-repeat="sensor in ctrl.sensors[sensorType]">
											<a showtab="" data-toggle="tab" data-sensortype="{{sensorType}}"  data-sensorid="{{sensor.id}}"  >{{sensor.name}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<b >{{ctrl.currentChartSensorType}} - {{ctrl.currentChartSensor.name}}</b>
						</li>
					</ul>
					
				</div>
			</div>
			<div class="modal-body">
				<canvas id="sensorChartCanvas" "></canvas> '
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

