<app-page-header>
</app-page-header>
<div class="container">
	<ul class="nav navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown">{{(currentSensor ? currentSensor.name: "Select sensor")}}<b class="caret"></b></a>
			<div class="dropdown-menu  multi-level ul.nav.navbar-nav.no-collapse">
				<li *ngFor="let sensorType of (sensorTypes$ | async)">
					{{sensorType}}
					<ul class="dropdown-submenu">
						<li *ngFor="let sensor of getSensors(sensorType)">
							<a class="dropdown-item" (click)="selectChart(sensor)">{{sensor.name}}</a>
						</li>
					</ul>
				</li>
			</div>
		</li>
	</ul>
	<div style="height:100%;width:100%">
		<canvas id="sensorChartCanvas"></canvas>
	</div>
</div>