<div class="controllers-left-section">
	<ul class="nav nav-tabs" role="tablist" id="kervi-controllers-tab">

		<li *ngFor="let controllerType of (controllerTypes$ | async)" class="dropdown nav-item">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{controllerType}}</a>
			<div class="dropdown-menu nav nav-tab">
					<a *ngFor="let controller of getControllers(controllerType)" class="dropdown-item" data-toggle="tab" href="#controller-left-tab-{{controller.id}}"
						attr.data-idright="#controller-right-tab-{{controller.id}}" role="tab">{{controller.name}}</a>
			</div>
		</li>
	</ul>

	<div class="tab-content">
		<div *ngFor="let controller of (controllers$ | async)" class="tab-pane" id="controller-left-tab-{{controller.id}}" role="tabpanel">
			<kervi-controller [dashboardType]='dashboardType' [section]="'left'" [controller]="controller"></kervi-controller>
		</div>
	</div>
</div>