<div nzRow>
	<div style="max-height: 80%;overflow-y: auto" nz-col nzSpan="8">
		<nz-tree [nzData]="nodes" [nzExpandedKeys]="defaultExpandedKeys" nzAsyncData (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"> </nz-tree>
	</div>
	<nz-divider nzType="vertical"></nz-divider>
	<div style="max-height: 300px;overflow-y: auto" nz-col nzSpan="16">
		<div style="display: inline-block;margin-left:5px; margin-bottom:5px;" *ngFor="let file of files" nzHoverable >
			<img alt="example" [attr.src]="'data:image/png;base64,' + file.data" />
		</div>
		<!-- <nz-card style="display: inline-block;" *ngFor="let file of files" nzHoverable style="width:140px" >
			<img alt="example" [attr.src]="'data:image/png;base64,' + file.data" />
			<ng-template #coverTemplate>
				
			</ng-template>
		</nz-card> -->
		
	</div>
</div>
