<div [hidden]="!showImageViewer">
	<nz-picture-viewer (closeViewer)="closeViewer()" (prevChange)='nextImage($event)' (nextChange)='nextImage($event)' #imageViewer></nz-picture-viewer>
</div>
<div [hidden]="showImageViewer">
	<div style="max-height: 80%;overflow-y: auto; " nz-col nzSpan="8">
		<nz-tree [nzData]="nodes" [nzExpandedKeys]="defaultExpandedKeys" nzAsyncData (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"> </nz-tree>
	</div>
	<div style="min-height:40px;max-height: 300px;overflow-y: auto; border-left: 1px solid black;" nz-col nzSpan="16">
		
		<nz-empty *ngIf="files.length==0" nzNotFoundContent="No files in folder"></nz-empty>
		<div (dblclick)="showImage(file.key)"  style="display: inline-block;margin-left:5px; margin-bottom:5px;" *ngFor="let file of files" nzHoverable >
			<img alt="example" [attr.src]="'data:image/png;base64,' + file.thumb" />
		</div>
		<!-- <nz-card style="display: inline-block;" *ngFor="let file of files" nzHoverable style="width:140px" >
			<img alt="example" [attr.src]="'data:image/png;base64,' + file.data" />
			<ng-template #coverTemplate>
				
			</ng-template>
		</nz-card> -->
		
	</div>
</div>
