<nz-layout>
    <nz-content class="kervi-app-initializing">
      <div nz-row>
        <div nz-col nzSpan="12" nzOffset="9">
          <nz-steps [nzCurrent]="current" nzDirection="vertical">
            <nz-step nzTitle="Initializing" nzDescription="&nbsp;" nzIcon="setting" ></nz-step>
            <nz-step nzTitle="Connecting" nzDescription="&nbsp;" nzIcon="wifi"></nz-step>
            <nz-step nzTitle="Loading dashboards" nzDescription="&nbsp;" nzIcon="download"></nz-step>
          </nz-steps>
        </div>
      </div>
    </nz-content>
</nz-layout>
