@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "../../../node_modules/photoswipe/src/css/main.scss";
//@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../components/tempusdominus-bootstrap-4.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

.container{
	width:100%;
}

.block-component{
	width:100%;
  clear:both;
  vertical-align:middle;
  display:table;
  
}

.inline-component{
	display: inline-block;
}

/*$slider-line-height: 20px !default;
$slider-border-radius: 4px !default;
$slider-horizontal-width: 210px !default;
$slider-vertical-height: 210px !default;
$slider-handle-color-start: $brand-primary;
$slider-handle-color-end: $card-cap-bg;
$slider-handle-color-background: $input-group-addon-bg;
$slider-height: 20px !default;
$slider-width: 20px !default;
.slider-value{
	//border-color:rgba(0,0,0,.25);
	//border-width: 1px;
	//border-style: solid;
	padding-left:10px;
	text-align: right;
	overflow:hidden;
}

@import "../../node_modules/bootstrap-slider/src/sass/bootstrap-slider.scss";


.slider{
	display:table-cell;
}

.toggle-off {
	background: $gray-lightest;
}

.btn {
	margin-bottom: .1rem
}

.input-group-addon{
	color:#fff;
}

.bootstrap-datetimepicker-widget{
	color:#00FF00;
	z-index:3000;
}

@include media-breakpoint-up(xs) {
  .dashboard-section-width-1 {
    width:150px !important;
  }

  .dashboard-section-width-2 {
    width:300px !important;
  }

  .dashboard-section-width-3 {
    width:450px !important;
  }

  .dashboard-section-width-4 {
    width:600px !important;
  }
}

@include media-breakpoint-down(xs) {
  .container-fluid{
		width:100%;
	}
	.dashboard-section-width-1 {
    width:100% !important;
  }

  .dashboard-section-width-2 {
    width:100% !important;
  }

  .dashboard-section-width-3 {
    width:100% !important;
  }

  .dashboard-section-width-4 {
    width:100%;
  }
}


@include media-breakpoint-up(xs) {
  .dashboard-section-height-1 {
    height:150px !important;
  }

  .dashboard-section-height-2 {
    height:300px !important;
  }

  .dashboard-section-height-3 {
    height:450px !important;
  }

  .dashboard-section-height-4 {
    height:600px !important;
  }

	.has-card-header .dashboard-section-height-1 {
    height:102px !important;
  }

  .has-card-header .dashboard-section-height-2 {
    height:252px !important;
  }

  .has-card-header .dashboard-section-height-3 {
    height:402px !important;
  }

  .has-card-header .dashboard-section-height-4 {
    height:600px !important;
  }


}

@include media-breakpoint-down(xs) {
  .dashboard-section-height-1 {
    height:default !important;
  }

  .dashboard-section-height-2 {
    height:default !important;
  }

  .dashboard-section-height-3 {
    height:default !important;
  }

  .dashboard-section-height-4 {
    height:default !important;
  }
}


*/