<nz-layout *ngIf="dashboard">
	<nz-header *ngIf='!isAppEmpty'>
		<div nz-row>
			<div nz-col nzSpan="6">		
				<ul nz-menu  nzMode="horizontal" class="kervi-main-menu">
					<li nz-submenu  *ngIf="showMenu">
						
						<span title><i nz-icon nzTheme="twotone" type="dashboard" [nzTwotoneColor]="'#9fd037'"></i> {{dashboard.name}}</span>
						<ul>
							<ng-container *ngIf="dashboards.length > 1">
								<li nz-menu-item *ngFor="let dashboard of dashboards" [routerLink]="['/dashboard', dashboard.id]">{{dashboard.name}}</li>
							</ng-container>
							<li *ngIf="authenticated && dashboards.length > 1">
								<nz-divider></nz-divider>
							</li>
							<li nz-menu-item *ngIf="authenticated && anonymous" href="javascript: return false;" (click)="logoff($event)" ><i nz-icon type="login"></i> {{('login' | translate)}}</li>
							<li nz-menu-item *ngIf="authenticated && !anonymous" href="javascript: return false;" (click)="logoff($event)"><i nz-icon type="logout"></i>{{('logout' | translate)}}</li>
						</ul>
					</li>
					<li nz-menu-item *ngIf="showPanelController">
						<a  (click)="dashboardPanelsHidden = !dashboardPanelsHidden;">
							<i nz-icon type="sliders" nzTheme="twotone" [nzTwotoneColor]="'#9fd037'"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="kervi-sys-panel" *ngIf="dashboard && dashboard.sysPanel" nz-col nzSpan="18">
				<kervi-dashboard-panel [dashboardSizes]="dashboardSizes" [inline]="true" [panel]="dashboard.sysPanel" ></kervi-dashboard-panel>
				&nbsp;<a  (click)="mediaHidden = !mediaHidden;">
						<i nz-icon nzType="folder-open" nzTheme="twotone" [nzTwotoneColor]="'#9fd037'"> </i>
				</a>
				<kervi-message-button></kervi-message-button>
				
			</div>
			
		</div>
	</nz-header>
		
	<nz-content>

		<ng-container *ngIf="isAppEmpty">
			<div nz-row>
				<div nz-col nzSpan="12" nzOffset="6">
					<nz-alert
						nzType="error"
						[nzMessage] ="'hello_world' | translate"
						[nzDescription]=" 'empty_app' | translate"
						nzShowIcon	
					  >
					  </nz-alert>
					
				</div>
			</div>
		</ng-container>
		<kervi-cam-viewer *ngIf="cameraId" [isBackground]="true" [cameraId]="cameraId" [linkParameters]="cameraParameters"></kervi-cam-viewer>
		<div #leftPad class="kervi-controller-pad" *ngIf="showLeftPad" [style.left.px]="leftPadLeft" [style.top.px]="leftPadTop" >
			<kervi-controller-pad [autoCenter]="autoCenterLeftPad" [XValue]="leftPadXValue" [YValue]="leftPadYValue"></kervi-controller-pad>
		</div>
		<div #rightPad class="kervi-controller-pad" *ngIf="showRightPad" [style.left.px]="rightPadLeft" [style.top.px]="rightPadTop" >
			<kervi-controller-pad [autoCenter]="autoCenterRightPad" [XValue]="rightPadXValue" [YValue]="rightPadYValue"></kervi-controller-pad>
		</div>

		<div class="kervi-panels" fxLayout=" column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign=""  *ngIf="!dashboardPanelsHidden" style="">
			<ng-container *ngFor="let panel of dashboard.panels">
					<kervi-dashboard-panel [fxFlex]="panel.parameters.width" fxFlex.xs="100%" [dashboardSizes]="defaultSizes" [panel]="panel"></kervi-dashboard-panel>
				
			</ng-container>
		</div>
	</nz-content>
	<nz-footer *ngIf='!isAppEmpty'>
		<div nz-col nzSpan="8" style="text-align: left">
			<kervi-dashboard-panel [inline]="true" *ngIf="dashboard.footerLeftPanel" [dashboardSizes]="defaultSizes" [panel]="dashboard.footerLeftPanel"></kervi-dashboard-panel>
		</div>
		<div nz-col nzSpan="8" style="text-align:center">
			<kervi-dashboard-panel [inline]="true" *ngIf="dashboard.footerCenterPanel" [dashboardSizes]="defaultSizes" [panel]="dashboard.footerCenterPanel"></kervi-dashboard-panel>
		</div>
		<div nz-col nzSpan="8"  style="text-align: right">
			<kervi-dashboard-panel [inline]="true" *ngIf="dashboard.footerRightPanel" [dashboardSizes]="defaultSizes" [panel]="dashboard.footerRightPanel"></kervi-dashboard-panel>
			<button nz-button nzShape="round" (mousedown)="toggleFullScreen()"><i nz-icon [nzType]="inFullScreen ? 'fullscreen' : 'fullscreen-exit'" title="{{( 'toggle_screen' | translate)}}"></i></button>
		</div>
	</nz-footer>
</nz-layout>

<nz-modal 
	nzWrapClassName="vertical-center-modal"
	[(nzVisible)]="!mediaHidden"
	nzTitle="Media"
	(nzOnCancel)="handleMediaClose()"
	
>
<div style="display:inline-block;width:100%"> <app-media ></app-media></div>	

</nz-modal>



